HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/pictures/avatar1.jpg
/pictures/avatar2.jpg
/pictures/avatar3.jpg
/pictures/avatar4.jpg
/pictures/avatar5.jpg
/pictures/avatar6.jpg
/pictures/avatar7.jpg
/pictures/avatar8.jpg
/pictures/avatar9.jpg
/pictures/avatar10.jpg
/pictures/avatar11.jpg
/pictures/avatar12.jpg
/avatars/1.jpg
